{
  "extends": ["airbnb", "prettier"],
  "rules": {
    "react/forbid-prop-types": [
      1,
      {
        "checkContextTypes": false,
        "checkChildContextTypes": false
      }
    ],

    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"]
      }
    ],
    "import/extensions": [
      1,
      { "extensions": ["js", "jsx", "ts", "tsx", "json"] }
    ],
    "import/no-unresolved": 0,
    "no-undef": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-unused-vars": [
      1,
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "react/jsx-props-no-spreading": 0,
    "react/jsx-boolean-value": 0,
    "object-shorthand": 0,
    "import/no-extraneous-dependencies": 0,
    "arrow-body-style": 0,
    "prefer-destructuring": "warn",
    "no-unneeded-ternary": 0
  },
  "env": {
    "browser": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "no-undef": "warn"
      }
    }
  ]
}
