.contact {
  height: calc(100vh + 50px);
  background-image: url('../../../assets/images/Contact-Image.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: center;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }
  &__form {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 6vw;
    max-width: 500px;
    max-height: 480px;
    margin-bottom: 100px;
    h4 {
      font-size: 38px;
      line-height: 55px;
      color: $color-text-main;
    }
  }
  &__names {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  &__label {
    font-size: 16px;
    line-height: 50px;
    font-family: $font-base;
    font-weight: 600;
    color: $color-text-main;
    display: flex;
    flex-direction: column;
  }
  &__input {
    border: none;
    border-bottom: 1px solid $color-border-gray;
    font-size: 18px;
    color: $color-text-main;
    font-family: $font-base;
    width: 90%;
    background-color: transparent;
    &::placeholder {
      color: $color-form-blur;
    }
  }
  &__info {
    padding-top: 20px;
    color: $color-success;
    font-family: $font-base;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    font-weight: 600;
    width: 200px;
  }
  &__message {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    padding-top: 20px;
  }
  &__textaeria {
    min-height: 120px;
    font-size: 18px;
    border: none;
    color: $color-text-main;
    font-family: $font-base;
    border-bottom: 1px solid $color-border-gray;
    background-color: transparent;

    &::placeholder {
      color: $color-form-blur;
    }
  }
  &__send {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__button {
    background-color: white;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-family: $font-base;
    border: 0.75px solid black;
    margin-top: 20px;
    @include buttonAnimation();
  }

  .error {
    color: $color-error;
    font-family: $font-base;
    font-size: 14px;
    margin-top: 0;
    font-weight: 600;
    height: 30px;
  }
}
