.contact {
  background-image: url('../../../assets/images/Contact-Image.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: center;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }
  &__form {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 120px;
    max-width: 500px;
    max-height: 480px;
    margin-bottom: 200px;
    margin-top: 100px;
    h4 {
      font-size: 38px;
      line-height: 55px;
      color: $main-text-color;
    }
  }
  &__names {
    display: flex;
    justify-content: space-between;
  }
  &__label {
    font-size: 16px;
    line-height: 60px;
    font-family: $font-base;
    font-weight: 600;
    color: $main-text-color;
  }
  &__input {
    border: none;
    border-bottom: 1px solid $gray-borer-color;
    font-size: 18px;
    color: $main-text-color;
    font-family: $font-base;
    width: 90%;
    background-color: transparent;
    &::placeholder {
      color: $blur-form-color;
    }
  }
  &__message {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
  }
  &__textarea {
    height: 97px;
    font-size: 18px;
    border: none;
    color: $main-text-color;
    font-family: $font-base;
    border-bottom: 1px solid $gray-borer-color;
    background-color: transparent;
    &::placeholder {
      color: $blur-form-color;
    }
  }
  &__send {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 44px;
  }
  &__button {
    background-color: white;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-family: $font-base;
    border: 0.75px solid black;
  }
}

.error {
  color: red;
  font-family: $font-base;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 600;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
