a.link-button {
  box-sizing: border-box;
  background-color: white;
  text-transform: uppercase;
  font-family: $font-base;
  font-weight: 300;
  border: 0.75px solid $color-text-main;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: $color-text-main;
  text-decoration: none;
  @include buttonAnimation;
}

a.button-big {
  font-size: 36px;
  width: 300px;
  height: 120px;
  line-height: 45px;
  padding-left: 30px;
  padding-right: 30px;
}
