$color-text-main: #3c3c3c;
$color-text-aside: #737373;
$color-placeholder: #3c3c3c26;
$color-yellow: #fad648;
$color-green: #5e5322;
$color-background-lightgray: #f0f1f1;
$color-form-blur: #d3d3d3c9;
$color-border-gray: #707070;
$color-success: #2d9e22;
$color-error: #fb7776;
