.home-page-title {
  height: 350px;
  width: 674px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30vh;
  right: 10vw;
  h1 {
    color: $main-text-color;
    font-size: 36px;
    text-align: center;
    line-height: 55px;
  }
  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
