.loginWrapper {
  display: flex;
  position: absolute;
  top: 37px;
  right: 147px;

  li {
    font-family: $font-base;
    font-size: 14px;
    margin-left: 30px;
    color: $color-text-aside;
    p{
      color: $color-text-main;
    }
  }
  &__list-animated{
    @include buttonAnimation;
  }
  
  &__button{
    border: none;
    background-color: inherit;
    color: inherit;
  }
  &__link {
    text-decoration: none;
    outline: none;
    color: inherit;
    &-yellow {
      border: 0.75px solid $color-yellow;
      font-size: 13px;
      padding: 10px 9px 10px 9px;
      color: inherit;
    }
  }
}
