.menu {
  display: flex;
  position: absolute;
  right: 139px;
  top: 100px;

  li {
    font-family: $font-base;
    margin-left: 55px;
    margin-top: 9px;
    color: $color-text-main;
    font-size: 18px;
    cursor: pointer;
    @include buttonAnimation;
  }
  a{
    padding: 5 10 5 10;
    color: inherit;
    text-decoration: none;
  }
  &__start {
    border: 0.75px solid $color-text-main;
    padding: 9px 22px 9px 22px;
    margin-top: 0 !important;
  }
}
